<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CategoryTreePathsMapper">

	<insert id="insert">
		INSERT INTO category_tree_paths
		(ancestor_id,descendant_id,registered_date_time,registered_name,updated_date_time,updated_name)
		VALUES
		(#{ancestorId},#{descendantId},now(),'登録者ユーザーID',now(),'登録者ユーザーID')

	</insert>
	<update id="logicalDeleteCategoryWithDescendants">
		UPDATE category_tree_paths
		SET
		updated_date_time = now()
		,updated_name = '論理削除ユーザー(現段階では、mapperに直接記述しています。)'
		,deleted = true
		WHERE
		descendant_id IN (
			SELECT x.id FROM (
				SELECT descendant_id AS id
				FROM category_tree_paths
				WHERE ancestor_id = ${categoryId}
			) AS x
		);
	</update>

</mapper>