<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/mercari.css}" />
    <link rel="stylesheet" th:href="@{/css/category-list.css}" />
    <title>Rakus Items</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">Rakus Items</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="logout" href="./login.html"
                >Logout <i class="fa fa-power-off"></i
              ></a>
            </li>
          </ul>
          <p class="navbar-text navbar-right">
            <span id="loginName">user: userName</span>
          </p>
        </div>
      </div>
    </nav>

    <div id="main" class="container-fluid">
      <!-- 検索フォーム -->
      <div id="forms">
        <form
          th:action="@{/category-list}"
          class="form-inline"
          role="form"
          th:object="${categorySearchForm}"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="カテゴリ名"
              th:value="${session.categorySearchForm.name}"
            />
          </div>
          <div class="form-group"><i class="fa fa-plus"></i></div>
          <div class="form-group">
            <input
              type="hidden"
              id="top-category-name"
              name="topCategoryName"
              th:value="${session.categorySearchForm.topCategoryName} ? ${session.categorySearchForm.topCategoryName} : ''"
            />
            <select
              class="form-control select-category"
              name="topCategoryId"
              id="top-category-id"
            >
              <option value="">- トップカテゴリ -</option>
              <option
                th:each="category : ${topCategoryList}"
                th:value="${category.id}"
                th:text="${category.name}"
                th:attr="selected=${session.categorySearchForm.topCategoryId} == ${category.id}"
              >
                親カテゴリ名
              </option>
            </select>
            <!-- 第２カテゴリ -->
            <span id="select-sub-category-1-area">
              <input
                type="hidden"
                id="sub-category-1-name"
                name="subCategory1Name"
                th:value="${session.categorySearchForm.subCategory1Name}? ${session.categorySearchForm.subCategory1Name} : ''"
              />
              <select
                th:unless="${#lists.isEmpty(subCategory1List)}"
                class="form-control select-category"
                name="subCategory1Id"
                id="sub-category-1-id"
              >
                <option
                  value=""
                  th:text="'- ' + ${topCategoryName} + 'のサブカテゴリ -'"
                ></option>

                <option
                  th:each="category : ${subCategory1List}"
                  th:value="${category.id}"
                  th:text="${category.name}"
                  th:attr="selected=${session.categorySearchForm.subCategory1Id} == ${category.id}"
                >
                  子カテゴリ名
                </option>
              </select>
            </span>
            <!-- 第３カテゴリ -->
            <span id="select-sub-category-2-area">
              <select
                th:unless="${#lists.isEmpty(subCategory2List)}"
                class="form-control"
                name="subCategory2Id"
                id="sub-category-2-id"
              >
                <option
                  value=""
                  th:text="'- ' + ${subCategory1Name} + 'のサブカテゴリ -'"
                >
                  - 孫カテゴリ -
                </option>
                <option
                  th:each="category : ${subCategory2List}"
                  th:value="${category.id}"
                  th:text="${category.name}"
                  th:attr="selected=${session.categorySearchForm.subCategory2Id} == ${category.id}"
                >
                  孫カテゴリ名
                </option>
              </select>
            </span>
          </div>
          <div class="form-group"><i class="fa fa-plus"></i></div>
          <div class="form-group">
            <select
              class="form-control"
              name="level"
              th:value="${session.categorySearchForm.level}"
            >
              <option class="default-value" value="">- カテゴリ階層 -</option>
              <div th:each="i: ${#numbers.sequence(0, maxLevel)}">
                <option
                  th:value="${i}"
                  th:text="${i}"
                  th:attr="selected=${session.categorySearchForm.level} == ${i}"
                ></option>
              </div>
            </select>
            <!-- <input type="text" class="form-control" placeholder="brand" /> -->
          </div>
          <div class="form-group"></div>
          <button type="submit" class="btn btn-default">
            <i class="fa fa-angle-double-right"></i> search
          </button>
        </form>
      </div>

      <!-- pagination -->
      <div class="pages">
        <nav class="page-nav">
          <ul class="pager">
            <li th:if="${session.pageNumber > 1}" class="previous">
              <a
                th:href="@{/category-list/page?page=} + ${session.pageNumber - 1}"
                >&larr; prev</a
              >
            </li>
            <li th:if="${session.pageNumber < session.totalPages}" class="next">
              <a
                th:href="@{/category-list/page?page=} + ${session.pageNumber + 1}"
                >next &rarr;</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <!-- table -->
      <div class="table-responsive">
        <table id="item-table" class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>name</th>
              <th>level</th>
              <th>ancestorCategories</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="category : ${categoryList}">
              <td class="cateogry-name">
                <a
                  th:href="@{'/category-detail?categoryId=' + ${category.id} }"
                  th:text="${category.name}"
                  >カテゴリ名</a
                >
              </td>
              <td class="catgeory-level" th:text="${category.level}">
                カテゴリの階層
              </td>
              <td class="ancestor-categories">
                <span
                  th:each="ancestorCategory,status : ${category.ancestorCategoryList}"
                >
                  <a
                    th:href="@{'/category-list/category?categoryId=' + ${ancestorCategory.id}}"
                    th:text="${ancestorCategory.name}"
                    >先祖カテゴリ名</a
                  >
                  <span th:unless="${status.last}"> / </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- pagination -->
      <div class="pages">
        <nav class="page-nav">
          <ul class="pager">
            <li th:if="${session.pageNumber > 1}" class="previous">
              <a
                th:href="@{/category-list/page?page=} + ${session.pageNumber - 1}"
                >&larr; prev</a
              >
            </li>
            <li th:if="${session.pageNumber < session.totalPages}" class="next">
              <a
                th:href="@{/category-list/page?page=} + ${session.pageNumber + 1}"
                >next &rarr;</a
              >
            </li>
          </ul>
        </nav>
        <!-- ページ番号を指定して表示するフォーム -->
        <div id="select-page">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group col-xs-6">
                <label></label>
                <input
                  type="text"
                  class="form-control"
                  th:value="${session.pageNumber}"
                />
                <!-- 総ページ数 -->
                <div
                  class="input-group-addon"
                  th:text="${'/ ' + session.totalPages}"
                >
                  / 総ページ数
                </div>
              </div>
              <div class="input-group col-xs-1">
                <button type="submit" class="btn btn-default">Go</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/categoryList.js}"></script>
    <script th:src="@{/js/view.js}"></script>
  </body>
</html>
