<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/mercari.css}" />
    <title>Rakus Items</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">Rakus Items</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="logout" href="./login.html"
                >Logout&nbsp;<i class="fa fa-power-off"></i
              ></a>
            </li>
          </ul>
          <p class="navbar-text navbar-right">
            <span id="loginName">user: userName</span>
          </p>
        </div>
      </div>
    </nav>

    <!-- details -->
    <div class="container">
      <a type="button" class="btn btn-default" th:href="@{/category-list/back}"
        ><i class="fa fa-reply"></i> back</a
      >
      <h2>Details</h2>
      <div id="details">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>ID</th>
              <td th:text="${category.id}">カテゴリID</td>
            </tr>
            <tr>
              <th>カテゴリ名</th>
              <td th:text="${category.name}">カテゴリ名</td>
            </tr>
            <tr>
              <th>カテゴリ階層</th>
              <td th:text="${category.level}">カテゴリ階層</td>
            </tr>
            <tr>
              <th>カテゴリ関係</th>
              <td>
                <span
                  th:each="category,status : ${category.ancestorCategoryList}"
                >
                  <span th:text="${category.name}"></span>
                  <span th:unless="${status.last}"> / </span>
                </span>
              </td>
            </tr>
            <tr>
              <th>カテゴリ概要</th>
              <td>
                <span th:text="${category.description}">カテゴリ概要</span>
              </td>
            </tr>
          </tbody>
        </table>
        <a
          type="button"
          class="btn btn-default"
          th:href="@{'/category-edit?categoryId=' + ${categoryId}}"
          ><i class="fa fa-pencil-square-o"></i>&nbsp;edit</a
        >
        <a
          type="button"
          class="btn btn-default"
          th:href="@{'/category-detail/delete?categoryId=' + ${categoryId}}"
          id="delete"
          ><i class="fa fa-trash"></i>&nbsp;delete</a
        >
      </div>
    </div>
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/categoryDetail.js}"></script>
  </body>
</html>
